<script type="text/javascript">
       
            function redirect_method() {
               window.location="/reservations/new";
            }
         
      </script>
  
  



<table border="1" style="width:600px; height:200px;">
<tr>

<th>customer</th>
<th>phone no</th>
<th>total people</th>
<th>reservation datetime</th>
</tr>
<% @reservation.each do |res| %>
<tr>
<td><%= res.customer %></td>
<td><%= res.phone_number %></td>
<td> <%= res.number_of_people %></td>
<td>
 <%= res.reservation_datetime %></td>
</tr>

<%end%>
</table>
<br>


<input type="button" value="Goto New Reservation" onclick="redirect_method();" />