<div style = "background-color: lightgrey; margin: 0; height: 620px; ">




<h2> Enter Customer Reservation Details : </h2>
<hr>
<%= form_for @reservation do |f|%> <br/>
 <table style="width: 97.7%;margin-left: 20px;margin-top: 20px" >
          <tr style="height: 30px">
          	<td>
              <%= f.label "Customer Name", :style => "margin-right:50px;font-weight:bold;font-family: Book Antiqua;color:#303030"%>
            </td>
            <td>
              <%= f.text_field :customer,:size=>15, :style=>"color:#303030" %>
            </td>
          </tr>
          <tr>
           <td><br/>
              <%= f.label "Phone number",:style => "margin-right:35px; margin-top: 10px;font-weight:bold;font-family: Book Antiqua;color:#303030"  %>
            </td>
            <td>
              <%= f.telephone_field :phone_number ,:size=>15, :style=>"color:#303030" %>
            </td>
          </tr>

          <tr>
           <td><br/>
              <%= f.label "Total People",:style => "margin-right:35px; margin-top: 10px;font-weight:bold;font-family: Book Antiqua;color:#303030"  %>
            </td>
            <td>
              <%= f.text_field :number_of_people ,:size=>15, :style=>"color:#303030" %>
            </td>
          </tr>
          <tr>
             <td><br/>
              <%= f.label "Reservation DateTime",:style => "margin-right:35px; margin-top: 10px;font-weight:bold;font-family: Book Antiqua;color:#303030"  %>
            </td>
            <td>
              <%= f.datetime_select :reservation_datetime ,:size=>15, :style=>"color:#303030" %>
            </td>
          </tr>
         
        
            <tr>
             <td><br/>
              <%= f.label " ",:style => "margin-right:35px; margin-top: 10px;font-weight:bold;font-family: Book Antiqua;color:#303030"  %>
            </td>
            <td>
              <%= f.submit :size=>15, :style=>"color:#303030" %>
            </td>
          </tr>
        

        </table>


  
<% end %>
<%= button_to "View Reservations ", reservations_path, method: :get %>
</div>